<!doctype html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Image Tune</title>
    </head>
    <body>
        <h1>Image Tune</h1>
        <p>lets check and see if we can put your name here: {{ name }} </p>
        <form action="/submit" method='post' enctype='multipart/form-data'>
            <p>Song Name <input type = "text" name = "Name" /></p>
            <input type='file', name='file'>
            <br /><br />
            <input type= 'submit' value = 'Submit'>
        </form>
    </body>
</html>